@{
    ViewBag.Title = "Live Ticket";
}

<div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Manage LiveTicket</span></h5>
                        <ol class="breadcrumbs mb-0">
                            <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="AdminDashboard">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Manage LiveTicket</li>
                        </ol>
                    </div>
                    <div class="col s2 m6 l6">
                        <a class="waves-effect waves-light breadcrumbs-btn right btn modal-trigger add-status-btn" href="#modal1"><i class="material-icons left">add</i> Add New</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="container">
                <div class="section section-data-tables">
                    <!-- Page Length Options -->
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="card-title">Live Ticket Data</h4>
                                    <div class="row">
                                        <div class="col s12">
                                            <table id="page-length-option" class="display">
                                                <thead>
                                                <tr>
                                                    <th style="width: 20px">#</th>
                                                    <th>Status Name</th>
                                                    <th>Sap Id</th>
                                                    <th>Closed Status</th>
                                                    <th>Active Status</th>
                                                    <th>Costomer Status</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @* <tr> *@
                                                @*     <td>1</td> *@
                                                @*     <td>Open</td> *@
                                                @*     <td>001</td> *@
                                                @*     <td> *@
                                                @*         <div class="switch"> *@
                                                @*             <label class="float-left ml-3"> *@
                                                @*                 <input class="" type="checkbox"> *@
                                                @*                 <span class="lever ml-0"> *@
                                                @*                 </span> *@
                                                @*             </label> *@
                                                @*         </div> *@
                                                @*     </td> *@
                                                @*     <td> *@
                                                @*         <div class="switch"> *@
                                                @*             <label class="float-left ml-3"> *@
                                                @*                 <input class="" type="checkbox"> *@
                                                @*                 <span class="lever ml-0"> *@
                                                @*                 </span> *@
                                                @*             </label> *@
                                                @*         </div> *@
                                                @*     </td> *@
                                                @*     <td> *@
                                                @*         <div class="switch"> *@
                                                @*             <label class="float-left ml-3"> *@
                                                @*                 <input class="" type="checkbox"> *@
                                                @*                 <span class="lever ml-0"> *@
                                                @*                 </span> *@
                                                @*             </label> *@
                                                @*         </div> *@
                                                @*     </td> *@
                                                @*     <td> *@
                                                @*         <a class="mb-6 btn-floating waves-effect waves-light cyan"> *@
                                                @*             <i class="material-icons">edit</i> *@
                                                @*         </a> *@
                                                @*     </td> *@
                                                @* </tr> *@
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th style="width: 20px">#</th>
                                                    <th>Status Name</th>
                                                    <th>Sap Id</th>
                                                    <th>Closed Status</th>
                                                    <th>Active Status</th>
                                                    <th>Costomer Status</th>
                                                    <th>Action</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        @* <div class="content-overlay show"></div> *@
    </div>
</div>

@* <script src="~/assets/vendors/jquery/jquery-3.6.3.min.js"></script> *@
@* <script type="text/javascript"> *@
@*     $(document).ready(function() { *@
@*         $.ajax({ *@
@*             url: '@Url.Action("GetLiveTicket", "LiveTicket")', *@
@*             type: 'GET', *@
@*             dataType: 'JSON', *@
@*             success: function(data) { *@
@*                 console.table(data); *@
@*             } *@
@*         }); *@
@*     }); *@
@* </script> *@