@{
    ViewBag.Title = "Live Ticket";
}

<table>
    <tr>
        <td></td>
    </tr>
</table>

@* <script src="~/assets/vendors/jquery/jquery-3.6.3.min.js"></script> *@
@* <script type="text/javascript"> *@
@*     $(document).ready(function() { *@
@*         $.ajax({ *@
@*             url: '@Url.Action("GetLiveTicket", "LiveTicket")', *@
@*             type: 'GET', *@
@*             dataType: 'JSON', *@
@*             success: function(data) { *@
@*                 console.table(data); *@
@*             } *@
@*         }); *@
@*     }); *@
@* </script> *@