@{
    ViewBag.Title = "Status";
}

<div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Manage Status</span></h5>
                        <ol class="breadcrumbs mb-0">
                            <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="AdminDashboard">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Manage Status</li>
                        </ol>
                    </div>
                    <div class="col s2 m6 l6">
                        <a class="waves-effect waves-light breadcrumbs-btn right btn modal-trigger add-status-btn" href="#modal1"><i class="material-icons left">add</i> Add New</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="container">
                <div class="section section-data-tables">
                    <!-- Page Length Options -->
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="card-title">Page Length Options</h4>
                                    <div class="row">
                                        <div class="col s12">
                                            <table id="page-length-option" class="display">
                                                <thead>
                                                <tr>
                                                    <th style="width: 20px">#</th>
                                                    <th>Status Name</th>
                                                    <th>Sap Id</th>
                                                    <th>Closed Status</th>
                                                    <th>Active Status</th>
                                                    <th>Costomer Status</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @* <tr> *@
                                                @*     <td>1</td> *@
                                                @*     <td>Open</td> *@
                                                @*     <td>001</td> *@
                                                @*     <td> *@
                                                @*         <div class="switch"> *@
                                                @*             <label class="float-left ml-3"> *@
                                                @*                 <input class="" type="checkbox"> *@
                                                @*                 <span class="lever ml-0"> *@
                                                @*                 </span> *@
                                                @*             </label> *@
                                                @*         </div> *@
                                                @*     </td> *@
                                                @*     <td> *@
                                                @*         <div class="switch"> *@
                                                @*             <label class="float-left ml-3"> *@
                                                @*                 <input class="" type="checkbox"> *@
                                                @*                 <span class="lever ml-0"> *@
                                                @*                 </span> *@
                                                @*             </label> *@
                                                @*         </div> *@
                                                @*     </td> *@
                                                @*     <td> *@
                                                @*         <div class="switch"> *@
                                                @*             <label class="float-left ml-3"> *@
                                                @*                 <input class="" type="checkbox"> *@
                                                @*                 <span class="lever ml-0"> *@
                                                @*                 </span> *@
                                                @*             </label> *@
                                                @*         </div> *@
                                                @*     </td> *@
                                                @*     <td> *@
                                                @*         <a class="mb-6 btn-floating waves-effect waves-light cyan"> *@
                                                @*             <i class="material-icons">edit</i> *@
                                                @*         </a> *@
                                                @*     </td> *@
                                                @* </tr> *@
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th style="width: 20px">#</th>
                                                    <th>Status Name</th>
                                                    <th>Sap Id</th>
                                                    <th>Closed Status</th>
                                                    <th>Active Status</th>
                                                    <th>Costomer Status</th>
                                                    <th>Action</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        @* <div class="content-overlay show"></div> *@
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal width-40">
    <div class="modal-content">
        
        <h5>Add New Status</h5>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" class="validate" id="status_name" required>
                <input type="hidden" class="validate" id="object" value="1">
                <label for="status_name">Status Name *</label>
            </div>
            <div class="input-field col s6">
                <input type="text" class="validate" id="sap_id" required>
                <label for="sap_id">Sap Id *</label>
            </div>
            <div class="input-field col s4">
                <div class="switch">
                    Closed Status
                    <label class="float-right">
                        <input class="closed" type="checkbox" id="closed" value="0">
                        <span class="lever ml-0">
                        </span>
                    </label>
                </div>
            </div>
            <div class="input-field col s4">
                <div class="switch">
                    Active Status
                    <label class="float-right">
                        <input class="active" type="checkbox" id="active" value="0">
                        <span class="lever ml-0">
                        </span>
                    </label>
                </div>
            </div>
            <div class="input-field col s4">
                <div class="switch">
                    Customer Status
                    <label class="float-right">
                        <input class="customer" type="checkbox" id="customer" value="0">
                        <span class="lever ml-0">
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="progress">
                <div class="indeterminate"></div>
            </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light modal-close btn-light-red" type="submit" name="action">Cancel
                    <i class="material-icons left">close</i>
                  </button>
                <button class="btn waves-effect waves-light" type="submit" id="save_btn" name="action">Save
                    <i class="material-icons right">send</i>
                  </button>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/vendors/jquery/jquery-3.6.3.min.js"></script>
<script type="text/javascript">

    let statusSubNav = document.querySelectorAll('.status-sub-nav');
    let addStatusBtn = document.querySelector('.add-status-btn');
    
    document.querySelector('.administrator-main-nav').classList.add('active');
    statusSubNav.forEach((item) => {
        item.classList.add('active');
    });
    
    
    // Handle Add Status
    $('#save_btn').click(function() {
        addStatus();
    });
    
    // let isClosed = 0;
    // $('').change()
    
    // $("#closed").on("click", function () { 
    //        var $checkbox = $(this).find(':checkbox');
    //        alert($checkbox.attr('checked', !$checkbox.attr('checked')));
    //  });
    
    let isClosed = 0;
    let isActive = 0;
    let customer = 0;
    
    $("input[type='checkbox'].closed").click(function () {
        if ($("input[type='checkbox'].closed").is(':checked')) {
            //isClosed = $("input[type='checkbox'].checkboxBtnClass:checked").val();
            isClosed = 1;
        } else {
            isClosed = 0;
        }
    });
    
    $("input[type='checkbox'].active").click(function () {
        if ($("input[type='checkbox'].active").is(':checked')) {
            //isClosed = $("input[type='checkbox'].checkboxBtnClass:checked").val();
            isActive = 1;
        } else {
            isActive = 0;
        }
    });
    
    $("input[type='checkbox'].customer").click(function () {
        if ($("input[type='checkbox'].customer").is(':checked')) {
            //isClosed = $("input[type='checkbox'].checkboxBtnClass:checked").val();
            customer = 1;
        } else {
            customer = 0;
        }
    });
    
    // Add status into database
    function addStatus() {
        
        $.ajax({
            url: '@Url.Action("AddStatus", "Status")',
            type: 'POST',
            dataType: 'JSON',
            data: {statusName: $('#status_name').val(), sapId: $('#sap_id').val(), closed: isClosed, active: isActive, objectId: $('#object').val(), customerStatus: customer},
            beforeSend: function() {
                console.log("Loading...");
            },
            success: function(data) {
                if (data === 1) {
                    alert("Successfully added!");
                    getAllStatus();
                } else {
                    alert("Failed!");
                }
            }
        });
    }
    
    // Fetch All Status
    getAllStatus();
    function getAllStatus() {
        
        $.ajax({
            url: '@Url.Action("GetStatuses", "Status")',
            type: 'GET',
            dataType: 'JSON',
            beforeSend: function() {
                console.log("Loading...");
            },
            success: function(data) {
                //console.table(data);
                
                let number = 0;
                for (let i = 0;i < data.length;i++) {
                    $(`<tr>
                        <td>${++number}</td>
                        <td>${data[i].statusName}</td>
                        <td>${data[i].sapId}</td>
                        <td>
                            <div class="switch">
                                <label class="float-left ml-3">
                                    <input class="" type="checkbox" ${data[i].isClosed === 1 ? 'checked' : ''}>
                                    <span class="lever ml-0">
                                    </span>
                                </label>
                           </div>
                        </td>
                        <td>
                        <div class="switch">
                           <label class="float-left ml-3">
                               <input class="" type="checkbox" ${data[i].isActive === 1 ? 'checked' : ''}>
                               <span class="lever ml-0">
                               </span>
                           </label>
                        </div>
                        </td>
                        <td>
                        <div class="switch">
                           <label class="float-left ml-3">
                               <input class="" type="checkbox" ${data[i].customerStatus === 1 ? 'checked' : ''}>
                               <span class="lever ml-0">
                               </span>
                           </label>
                        </div>
                        </td>
                        <td>
                            <a class="mb-6 btn-floating waves-effect waves-light cyan btn-edit" id="${data[i].statusId}">
                               <i class="material-icons">edit</i>
                            </a>
                        </td>
                   </tr>`).appendTo('tbody');
                }
                
                $(document).on('click', '.btn-edit', function() {
                    let statusId = $(this).attr('id');
                    
                    //alert(statusId);
                });
            }
        });
    }
    
    
</script>

