@{
    ViewBag.Title = "Live Ticket";
}

<!-- Demo styles -->
<style>
    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }
</style>

<div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-blue"></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
            <div class="row">
                <div class="col s10 m6 l6">
                    <h5 class="breadcrumbs-title mt-0 mb-0">
                        <span>Manage LiveTicket</span>
                    </h5>
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="AdminDashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Manage LiveTicket</li>
                    </ol>
                </div>
                <div class="col s2 m6 l6">
                    <a class="waves-effect waves-light breadcrumbs-btn right btn modal-trigger add-status-btn" href="#modal1"><i class="material-icons left">add</i> Add New</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <!-- Page Length Options -->
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title">Live Ticket Data</h4>
                                <div class="row">
                                    <div class="col s12">
                                        <table id="table" class="display">
                                            <thead>
                                            <tr>
                                                <th style="width: 20px">#</th>
                                                <th>Ticket Code</th>
                                                <th>Status Name</th>
                                                <th>Created By</th>
                                                <th>Created Date</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-overlay"></div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content pt-2">
        <div class="row" id="product-one">
            <div class="col s12">
                <a class="modal-close right">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <div class="col m12 s12">
                <!-- Swiper -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <h5>View Details</h5>
                <br>
                <hr class="mb-5">
                <table>
                    <tr>
                        <th>Ticket Code<span>:</span></th>
                        <td class="ticket-code"></td>
                    </tr>
                    <tr>
                        <th>Customer Name<span>:</span></th>
                        <td class="name"></td>
                    </tr>
                    <tr>
                        <th>Status<span>:</span></th>
                        <td class="status"></td>
                    </tr>
                    <tr>
                        <th>Request Type<span>:</span></th>
                        <td class="indidual"></td>
                    </tr>
                    <tr>
                        <th>Subject<span>:</span></th>
                        <td class="subject"></td>
                    </tr>
                    <tr>
                        <th>Description<span>:</span></th>
                        <td class="description"></td>
                    </tr>
                    <tr>
                        <th>Created By<span>:</span></th>
                        <td class="created-by"></td>
                    </tr>
                    <tr>
                        <th>Created Date<span>:</span></th>
                        <td class="created-date"></td>
                    </tr>
                </table>
                <div class="input-field">
                    <input type="text" class="validate" id="comment" required="required"/>
                    <label for="comment">Comments</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light modal-close btn-light-red" type="submit" name="action">Reject
                    <i class="material-icons left">close</i>
                </button>
                <button class="btn waves-effect waves-light" type="submit" id="btn-evn-update" name="action">Accept
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="~/assets/vendors/jquery/jquery-3.6.3.min.js"></script>
<script type="text/javascript">
    let liveTicketMainNav = document.querySelectorAll('.liveTicketMainNav');
        
    liveTicketMainNav.forEach((item) => {
        item.classList.add('active');
    });
    
    let table;
    let list_ticket = [];
    $(function() {
        table = $('#table').DataTable({
            data: list_ticket,
            columns: [
                {data: 'ticketId'},
                {data: 'ticketCode'},
                {data: 'statusName'},
                {data: 'createdBy'},
                {data: 'createdDate'},
                {data:'ticketId',
                    'render': function(data) {
                        return `<a id="${data}" class="mb-6 btn-floating waves-effect waves-light modal-trigger green btn-edit-tk" href="#modal2"><i class="material-icons">visibility</i></a>`;
                    }
                }
            ],
            "responsive": false,
            "lengthChange": true,
            "autoWidth": true,
            "searching": true,
            "paging": true,
            "scrollY": '60vh',
            "scrollX": true,    
            "scrollCollapse": true
        });
    });
    
    $(document).on('click', '.btn-edit-tk', function() {
        let tk_id = $(this).attr('id');
        
        $.ajax({
            url: '@Url.Action("GetTicketById", "Ticket")',
            type: 'GET',
            dataType: 'JSON',
            data: {id: tk_id},
            beforeSend: function() {
              
            },
            success: function(data) {
                console.table(data);
                $('.swiper-slide').remove();
                data.forEach((item) => {
                    $(`<div class="swiper-slide">
                       <img src="data:image/png;base64,${item.photo}" alt="Photo image ticket"/>
                    </div>`).appendTo('.swiper-wrapper');
                    $('.ticket-code').text(item.ticketCode);
                    $('.name').text(item.createdByName);
                    $('.status').text(item.statusName);
                    $('.status').text(item.statusName);
                    $('.indidual').text(item.indidual);
                    $('.subject').text(item.subject);
                    $('.description').text(item.description);
                    $('.created-by').text(item.createdBy);
                    $('.created-date').text(item.createdDate);
                });
            }
        });
    });
    
    // call the function
    getAllTicket();
    // call data from controller
    function getAllTicket() {
        $.ajax({
            url: '@Url.Action("GetAllTicket", "Ticket")',
            type: 'GET',
            dataType: 'JSON',
            beforeSend: function() {
                console.log("Loading...");
            },
            success: function(data) {
                //console.table(data);
                list_ticket = [];
                list_ticket = data;
                table.clear();
                table.rows.add(list_ticket);
                table.draw();
            }
        });
    }// end
    
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
        
</script>