@{
    ViewBag.Title = "User Ticket Report";
    Layout = "_UserLayout";
}

<div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-blue"></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
            <div class="row">
                <div class="col s10 m6 l6">
                    <h5 class="breadcrumbs-title mt-0 mb-0">
                        <span>Manage TicketReport</span>
                    </h5>
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="AdminDashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Manage TicketReport</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="container">
            <div class="section">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s5">
                                <i class="material-icons prefix">date_range</i>
                                <input id="date_from" type="date" class="datepickers">
                                <label for="date_from">Date From</label>
                            </div>
                            <div class="input-field col s5">
                                <i class="material-icons prefix">date_range</i>
                                <input id="from_to" type="date" class="datepickers">
                                <label for="from_to">From To</label>
                            </div>
                            <div class="input-field col s2">
                                <button class="btn cyan waves-effect waves-light right" type="submit" id="btn-search">Search
                                    <i class="material-icons right">search</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page Length Options -->
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content mb-4">
                                <h4 class="card-title">TicketReport Data</h4>
                                <div class="row">
                                    <div class="col s12">
                                        <table id="table" class="display width-100">
                                            <thead>
                                            <tr>
                                                <th style="min-width: 5px">#</th>
                                                <th>Ticket Code</th>
                                                <th>Comment</th>
                                                <th>Status Name</th>
                                                <th>Created Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-overlay"></div>
    </div>
</div>

<script src="~/assets/vendors/jquery/jquery-3.6.3.min.js"></script>
<script>
    let ticketReportMainNav = document.querySelectorAll('.ticketReportMainNav');
            
    ticketReportMainNav.forEach((item) => {
        item.classList.add('active');
    });
    
    // let d = new Date();
    // let strDate = (d.getMonth()+1)  + "/" + d.getDate() + "/" + d.getFullYear();
    // $('.datepicker').val(strDate);
    
    let table;
    let list_ticket_report = [];
    $(function() {
        table = $('#table').DataTable({
            data: list_ticket_report,
            columns: [
                {data: 'no'},
                {data: 'ticketCode'},
                {data: 'comments'},
                {data: 'statusId',
                    'render': function(data) {
                        return `<span class="${data === 1 ? 'badge orange' : data === 2 ? 'badge blue' : data === 3 ? 'badge red' : data === 4 ? 'badge red darken-2' : data === 5 ? 'badge green' : ''}">${data === 1 ? 'Requested' : data === 2 ? 'Accepted' : data === 3 ? 'Rejected' : data === 4 ? 'Cancelled' : data === 5 ? 'Completed' : ''}</span>`;
                    }
                },
                {data: 'createdDate'},
            ],
            "responsive": false,
            "lengthChange": false,
            "autoWidth": true,
            "searching": false,
            "paging": true,
            "scrollY": '60vh',
            "scrollX": false,
            "scrollCollapse": true
        });
    });// end
    
    // pass data to controller for the filter by date
    $('#btn-search').click(function() {
        let docDate = $('#date_from').val();
        let dueDate = $('#from_to').val();
        
        // let date=`${docDate}`;
        // let date2=`${dueDate}`;
        // let newdate = date.split("/").reverse().join("-");
        // let newdate2 = date2.split("/").reverse().join("-");
        
        $.ajax({
            url: '@Url.Action("GetUserTicketReportFilterBy", "Ticket")',
            type: 'GET',
            dataType: 'JSON',
            data: {docDate: docDate, dueDate: dueDate},
            beforeSend: function() {
                console.log("Loading...");
            },
            success: function(data) {
                //console.table(data)
                list_ticket_report = [];
                list_ticket_report = data;
                table.clear();
                table.rows.add(list_ticket_report);
                table.draw();
            }
        });
    });// end
    
</script>

